.header{
    background-image: url("../../assets/img/header-bg.png");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    padding: 15px 95px;
}

