.navbar{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    font-weight: 700;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid 1px var(--gray-300);
    padding: 0 10px;
    height: 36px;
    width: 525px;
    border-radius: 6px;
}

.search-input{
    background: transparent;
    border: none;
    outline: none;
    color:var(--white);
    height: fit-content;
    flex: 1;
}

.search-input::placeholder{
    color: var(--white);
}

.search-input:focus{
    outline: none;
    border: none;
}

.search-icon{
    width: 12px;
    height: 12px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    font-weight: 700;
}